body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.head-bar {
  background-color: #7EC1FF;
  height: 50px;
  border-bottom: 1px solid lightblue;
}

.quick-add-btn {
  background-color: #4EFF3D;
  width: 120px;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  height: 50px;
  margin-top: -41px;
  border-bottom: 2px solid black;
}

.add-btn-p {
  font-size: 17px;
  font-family: cursive;
  margin-left: auto;
  margin-right: auto;
}

.add-btn-img {
  height: 15px;
  margin-top: 18px;
  padding-right: 10px;
}

.content-container {
  display: flex;
}

.index-header {
  color: red;
  font-size: 20px;
}

.head-bar-title {
  font-size: 20px;
  font-family: cursive;
  padding-top: 10px;
  padding-left: 30px;
}

.main-content {
  padding: 40px;
}

.index-h1 {
  color: blue;
  font-size: 13px;
}

.side-bar {
  background-color: #E6EAEE;
  width: 225px;
  display: inline-block;
  height: 680px;
  border-right: 1px solid black;
}

.side-barTwo {
  background-color: #E6EAEE;
  width: 225px;
  display: inline-block;
  /*height: 680px;*/
  min-height: 680px;
  border-right: 1px solid black;
}

.customer-opt-block {
  height: 45px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.customer-opt {
  margin: auto;
  padding-top: 11px;
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
}

.CarsAvailable-opt-block {
  height: 45px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.CarsAvailable-opt {
  margin: auto;
  padding-top: 11px;
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
}

.DealerLocations-opt-block {
  height: 45px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.DealerLocations-opt {
  margin: auto;
  padding-top: 11px;
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
}

.Salesmen-opt-block {
  height: 45px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.Salesmen-opt {
  margin: auto;
  padding-top: 11px;
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
}

.Events-opt-block {
  height: 45px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.Events-opt {
  margin: auto;
  padding-top: 11px;
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
}

.content-combo {
  display: flex;
  margin-top: -20px;
}

.main-content-title {
  padding-left: 10px;
  color: #00C9FF;
  font-family: fantasy;
}

.main-content-img {
  height: 50px;
  padding-top: 9px;
}

.main-content-p {
  width: 500px;
  text-align: left;
  padding-left: 40px;
  line-height: 20px;
  font-family: monospace;
}

.add-query-row {
  display: flex;
  width: 1100px;
}

.btn-container {
  display: flex;
  background-color: #4EFF3D;
  height: 40px;
  width: 70px;
  border-radius: 5px;
}

.search-form {
  height: 20px;
  display: flex;
  margin-left: auto;
}

.input-search {
  height: 20px;
  width: 150px;
  display: block;
  margin-left: auto;
}

.add-customer-btn {
  padding-left: 5px;
  display: block;
  margin-top: 12px;
}

.btn-add-img {
  height: 20px;
  padding-top: 11px;
  padding-left: 6px;
}

.column-organization-container {
  display: flex;
  margin-top: 40px;
  margin-left: 239px;
}

.column-one {
  margin-right: 25px;
  padding-right: 50px;
  border-right: 1px solid;
  display: inline-grid;
}

.column-one-p {
  color: red;
}

.column-three-p {
  color: red;
}

.column-four-p {
  color: red;
}

.column-three {
  margin-right: 50px;
  border-right: 1px solid;
  width: 120px;
  display: inline-grid;
}

.column-four {
    /*width: 200px;*/
    display: inline-grid;
}

.delete-btns {
  display: inline-grid;
}

.delete-btns-p {
  height: 15px;
}

.update-btns {
  display: inline-grid;
}

.update-btns-p {
  height: 15px;
}


/* ADD A CUSTOMER CSS */

.add-header {
  margin-left: 20px;
  color: #00C9FF;
}

.back-to-original {
  background-color: red;
  width: 50px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 20px;
}

.back-p {
  text-align: center;
  margin-top: 0px;
  padding-top: 7px;
}

.btn-opts {
  display: flex;
  margin-top: 20px;
}

.save {
  margin: 0px;
  padding-top: 4px;
  text-align: center;
  background-color: #4EFF3D;
  width: 50px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: -webkit-body;
  margin-right: 10px;
  cursor: pointer;
}

.save-two {
  margin: 0px;
  padding-top: 4px;
  text-align: center;
  background-color: #4EFF3D;
  width: 50px;
  margin-top: 13px;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  font-family: -webkit-body;
  cursor: pointer;
}

.cancel-btn {
  margin: 0px;
  background-color: red;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  margin: 0;
  text-align: center;
  padding-top: 6px;
}

.add-form {
  display: grid;
  margin-left: 20px;
  width: 250px;
}

.mongo-data {
  line-height: 30px;
  display: flex;
}

.hidden-id-form-container {
  display: none;
}

.hidden-form {
  margin-left: 60px;
}

.delete-btn {
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  color: white;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

.update-btn {
  background-color: blue;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  color: white;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  display: inline-block;
  font: 11px system-ui;
}

.pencilimg {
    height: 10px;
}

.search-button {
  height: 26px;
  width: 26px;
  padding: 0px;
  margin: 0px;
  background-color: lightskyblue;
}

.searchimg {
  height: 20px;
  width: 20px;
  padding-top: 4px;
  padding-left: 3px;
}
